*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*& Utility*/
.pointer {
    cursor: pointer;
}

.text-gray {
    color: #3d4347;
}
/*& -------*/

.list.container {
    width: 600px;
}

.logo img {
    height: 50px;
    display: block;
}


